<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>{{header}}</h1>
  <hr/> 
    <table>
      <tr>
        <th>Dogs</th>
        <th>Cats</th>

      </tr>
      <tr>
        <td><button id="dog" (click)="doVote(1)">Dog</button></td>
        <td><button id="cat"  (click)="doVote(2)">Cat</button></td>
      </tr>
    </table> 
</body>

</html>